{% extends 'base.html' %}

{% block title %}About us{% endblock title %}

{% block content %}
<div class="container mt-4 center">
  <h1>About us</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eius libero, ex error aliquid sequi aspernatur
    ducimus, quia ullam laudantium illo, in officiis. Quod aliquam recusandae nam quam repellat cum!
    Doloremque blanditiis eos itaque quos molestias impedit ipsa delectus tempora quasi deleniti aperiam praesentium
    commodi, maxime asperiores. Veritatis tempore, nostrum temporibus, corporis perspiciatis corrupti facere, quam eius
    natus beatae quos.
    Amet est rerum nisi reprehenderit excepturi minima necessitatibus quae sit architecto mollitia esse adipisci,
    consectetur culpa aspernatur sunt repudiandae unde expedita dicta, ab quaerat quo numquam. Autem, illum. Doloribus,
    voluptate!</p>
</div>
{% endblock content %}